/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #007bff;
}

main p {
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.controls {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.controls select {
    width: 200px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.controls button {
    padding: 8px 16px;
    margin-left: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.controls button:hover {
    background-color: #0056b3;
}

.controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#interval-list {
    list-style-type: none;
    padding: 0;
}

#interval-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

#interval-list li span {
    flex-grow: 1;
}

#interval-list li button {
    margin-left: 10px;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#interval-list li button:hover {
    background-color: #218838;
}

.floating-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    z-index: 1000;
    transition: background-color 0.3s;
}

.floating-btn:hover {
    background-color: #c82333;
}

footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

/* Estilos para o modal */
.modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo preto semi-transparente */
    z-index: 1000;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    z-index: 1010; /* Z-index maior que o modal-background para sobrepor */
    width: 60%;
    max-width: 800px;
    height: 60%;
    max-height: 600px;
    overflow-y: auto;
}

.modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative; /* Para o posicionamento absoluto do botão fechar */
}

.modal-header {
    background-color: #007bff;
    color: #fff;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: center;
}

.modal-header .close {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
}

.modal-header .close:hover {
    color: #ccc;
}

.modal-body {
    padding: 20px;
    overflow-y: auto; /* Scroll apenas no conteúdo do modal */
}

.modal-footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: right;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: sticky;
    bottom: 0;
}

.modal-footer p {
    margin: 0;
}

.modal-footer a {
    color: #007bff;
    text-decoration: none;
}

.modal-footer a:hover {
    text-decoration: underline;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
